.footer {
  text-align: center;
}

.footer-top {
  padding: 50px 0;
  background: $lite-gray;
}

.footer-top__title {
  color: $black;
  font-size: 26px;
  margin-bottom: 30px;
}

.footer-top__text {
  display: block;
  margin-bottom: 30px;
}

.footer-top__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top__list {
  margin: 0 10px;
}

.footer-top__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  &:hover {
    background: $black;
    i {
      color: $lite-gray;
    }
  }
}

i {
  color: $black;
}

.footer-bottom {
  background: $blue;
  padding: 20px 0;
}

.footer-bottom__text {
  color: $white;
}

.footer-bottom__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  i {
    color: $white;
    margin-right: 10px;
    font-size: 16px;
  }
  @include phone-screen {
    flex-direction: column;
  }
}

.footer-bottom__link {
  color: $white;
  display: flex;
  align-items: center;
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background: $white;
    transition: $transition;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover::after {
    width: 100%;
  }
}

.footer-bottom {
  a {
    margin: 10px 0;
  }
  p {
    margin: 10px 0;
  }
}
