<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/css/main.css">
    <link rel="icon" type="image" href="../images/ProjectManagment.svg">
    <title>Aleksandar Babić | About Me</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__block">
                <div class="header__logo-block">
                    <a href="../index.html" class="header__logo-link"><h2 class="header__logo">Aleksandar Babić</h2></a>
                </div>
                <ul class="header__navigation">
                    <li class="header__list"><a href="../index.html" class="header__link">Home</a></li>
                    <li class="header__list"><a href="./about.html" class="header__link">About me</a></li>
                    <li class="header__list"><a href="./skills.html" class="header__link">My Skills</a></li>
                    <li class="header__list"><a href="./contact.html" class="header__link">Contact me</a></li>
                    <li class="header__list"><a href="./files/Aleksandar Babic 2021 CV.pdf" class="header__link cta" download>Download CV</a></li>
                </ul>
                <div class="header__menu-link">
                    <span class="header__menu"></span>
                </div>
            </div>   
        </div>
    </header>
    <section class="page-banner" style="background-image: url(../images/Novi-Sad-Panorama.jpg);">
        <div class="container">
            <div class="page-banner__block">
                <h1 class="page-banner__title">Aleksandar Babić</h1>
                <span class="page-banner__text">Home > About me</span>
            </div>
        </div>
    </section>
    <section class="about-me">
        <div class="container">
            <div class="about-me__block">
                <div class="about-me__personal-details">
                    <div class="personal-details__box">
                        <h3 class="personal-details__pretitle">Personal Details</h3>
                        <span class="personal-details__small-text">Nationality: Serbian</span>
                        <span class="personal-details__small-text">Languages: Serbian, English</span>
                    </div>
                    <div class="personal-details__content">
                        <h2 class="personal-details__title">I am a <span class="blue-title">Project Manager</span></h2>
                        <p class="personal-details__text">Looking a few years back, you could've labeled me as an
                            Food engineer and Manager with experience in HR, finance,
                            insurance, sales and managing.
                            Then I got involved in tech industry, quickly caught up, and
                            started my career path as a iOS developer.
                            Because of all the skills, I've picked up along the way,
                            business analyst skills, poeple relations skills, my next big
                            step was toward Project/Product managment. Best decision
                            ever.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-me__education">
        <div class="container">
            <h2 class="education__title">My Educatiton</h2>
            <span class="education__text">Bellow you can see my education.</span>
            <div class="education__block">
                <div class="education__box">
                    <h3 class="education__box-title">Graduate Manager of Information Technology</h3>
                    <span class="education__box-text">Faculty of Managment, Novi sad | 2014 - 2018</span>
                </div>
                <div class="education__box">
                    <h3 class="education__box-title">Engineer of Food Technology</h3>
                    <span class="education__box-text">Technical College, Zrenjanin | 2002 - 2006</span>
                </div>
            </div>
        </div>      
    </section>
    <section class="about-me__work">
        <div class="container">
            <h2 class="work__title">Work Experience</h2>
            <span class="work__text">Bellow you can see my work experience.</span>
            <div class="work__block">
                <div class="work__box">
                    <h3 class="work__box-title">Advisor of CEO for IT</h3>
                    <span class="work__box-pretitle">JP Kikinda | 2020 - present</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Digital transforamtions several sectors in JP Kikinda</li>
                        <li class="work__box-list">Conduct day-to-day project coordination, planning, and implementation across multiple teams</li>
                        <li class="work__box-list">Create functional and technical application documents</li>
                    </ul>
                </div>
                <div class="work__box box--2">
                    <h3 class="work__box-title">Project Manager & Product Manager</h3>
                    <span class="work__box-pretitle">Smart Parking Solutions | 2019-present</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Managed projects for digitalisation Archive in municipality Vrsac, Coka, Novi Knezevac, Ada and projects for digitalisation City Market in municipality Vrsac</li>
                        <li class="work__box-list">Built from the ground up the development team to develop and deliver mobile focussed content</li>
                        <li class="work__box-list">Managed project web app Quality control for "MSK Company" Kikinda and work in collaboration with industry engineers to deliver the best possible product and to ensure the original vision is executed to an outstanding level, under agreed budget and timelines</li>
                        <li class="work__box-list">Analysis of competitors and benchmarking against in-house product</li>
                        <li class="work__box-list">Strong Knowledge of business process (Sales, Marketing, Service, Support...) and communicating with stakeholders</li>
                        <li class="work__box-list">Product testing and review, identifying any core user experience positive/negative issues</li>
                    </ul>
                </div>
                <div class="work__box box--3">
                    <h3 class="work__box-title">iOS Developer</h3>
                    <span class="work__box-pretitle">NO Solutions/Bridgewater Labs, Novi Sad | 2017-2019</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Development of iOS applications</li>
                        <li class="work__box-list">Conduct day-to-day project coordination, planning, and implementation across multiple teams</li>
                        <li class="work__box-list">Building an iOS App Interface</li>
                    </ul>
                </div>
                <div class="work__box box--4">
                    <h3 class="work__box-title">Key Accounts Manager</h3>
                    <span class="work__box-pretitle">AMS Insurance, Novi sad | 2016-2016</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Maintaining existing clients as well as landing new clients with services of non-life insurance</li>
                    </ul>
                </div>
                <div class="work__box box--5">
                    <h3 class="work__box-title">Technical Enginner</h3>
                    <span class="work__box-pretitle">Public Company "6. Oktobar", Kikinda |2012-2014</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Consulting on water cleaning deployments</li>
                        <li class="work__box-list">Conduct day-to-day project coordination, planning, and implementation across multiple teams</li>
                        <li class="work__box-list">Building an iOS App Interface</li>
                    </ul>
                </div>
                <div class="work__box box--6">
                    <h3 class="work__box-title">Chief Executive Officer</h3>
                    <span class="work__box-pretitle">Metroparking Sever, Kikinda | 2010-2012</span>
                    <ul class="work__box-text-list">
                        <li class="work__box-list">Making corporate decision, menaging operations and communicating with government entities and the public</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-top__block">
                    <h2 class="footer-top__title">Follow me</h2>
                    <span class="footer-top__text">Find me on social media</span>
                    <ul class="footer-top__socials">
                        <li class="footer-top__list"><a href="https://www.linkedin.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-linkedin-in fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.instagram.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-instagram fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.twitter.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-twitter fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.facebook.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-facebook-f fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom__block">
                    <a class="footer-bottom__link" href="tel:+381600187121"><i class="fas fa-phone-alt fa-xs info"></i>+381/60 0187121</a>
                    <a class="footer-bottom__link" href="mailto:aleksandar83b@gmail.com"><i class="fas fa-envelope fa-xs info"></i>aleksandar83b@gmail.com</a>
                    <p class="footer-bottom__text">© 2021 Aleksandar Babić.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f1be843773.js" crossorigin="anonymous"></script>  
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>