<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/css/main.css">
    <link rel="icon" type="image" href="../images/ProjectManagment.svg">
    <title>Aleksandar Babić | Skills</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__block">
                <div class="header__logo-block">
                    <a href="../index.html" class="header__logo-link"><h2 class="header__logo">Aleksandar Babić</h2></a>
                </div>
                <ul class="header__navigation">
                    <li class="header__list"><a href="../index.html" class="header__link">Home</a></li>
                    <li class="header__list"><a href="./about.html" class="header__link">About me</a></li>
                    <li class="header__list"><a href="./skills.html" class="header__link">My Skills</a></li>
                    <li class="header__list"><a href="./contact.html" class="header__link">Contact me</a></li>
                    <li class="header__list"><a href="./files/Aleksandar Babic 2021 CV.pdf" class="header__link cta" download>Download CV</a></li>
                </ul>
                <div class="header__menu-link">
                    <span class="header__menu"></span>
                </div>
            </div>   
        </div>
    </header>
    <section class="page-banner" style="background-image: url(../images/Novi-Sad-Panorama.jpg);">
        <div class="container">
            <div class="page-banner__block">
                <h1 class="page-banner__title">Aleksandar Babić</h1>
                <span class="page-banner__text">Home > Skills</span>
            </div>
        </div>
    </section>
    <section class="skills">
        <div class="container">
            <h2 class="skills__title">Skills</h2>
            <p class="skills__text">During my carrear I worked with many tools. Here is a list of some I feal more confortble with.</p>
            <div class="skills__block">
                <div class="skills__box">
                    <img src="../images/ProjectManagment.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Project Managment</span>
                </div>
                <div class="skills__box">
                    <img src="../images/SoftwareDeveloper.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Software Developer</span>
                </div>
                <div class="skills__box">
                    <img src="../images/Agile Methodology.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Agile Methodology</span>
                </div>
                <div class="skills__box">
                    <img src="../images/StakeholderManagment.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Stakeholder Managment</span>
                </div>
                <div class="skills__box">
                    <img src="../images/StrategicPlaning.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Strategic Planing</span>
                </div>
                <div class="skills__box">
                    <img src="../images/BusinessAnalytics.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Business Analytics</span>
                </div>
                <div class="skills__box">
                    <img src="../images/IOS.svg" alt="" class="skills__img">
                    <span class="skills__box-text">IOS (Swift)</span>
                </div>
                <div class="skills__box">
                    <img src="../images/Mendix.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Mendix</span>
                </div>
                <div class="skills__box">
                    <img src="../images/Atlassian.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Atlassian (JIRA, Confluence...)</span>
                </div>
                <div class="skills__box">
                    <img src="../images/KaliLinux.svg" alt="" class="skills__img">
                    <span class="skills__box-text">Kali Linux</span>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-top__block">
                    <h2 class="footer-top__title">Follow me</h2>
                    <span class="footer-top__text">Find me on social media</span>
                    <ul class="footer-top__socials">
                        <li class="footer-top__list"><a href="https://www.linkedin.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-linkedin-in fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.instagram.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-instagram fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.twitter.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-twitter fa-lg"></i></a></li>
                        <li class="footer-top__list"><a href="https://www.facebook.com" class="footer-top__link" target="_blank"><i class="fab social-color fa-facebook-f fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom__block">
                    <a class="footer-bottom__link" href="tel:+381600187121"><i class="fas fa-phone-alt fa-xs info"></i>+381/60 0187121</a>
                    <a class="footer-bottom__link" href="mailto:aleksandar83b@gmail.com"><i class="fas fa-envelope fa-xs info"></i>aleksandar83b@gmail.com</a>
                    <p class="footer-bottom__text">© 2021 Aleksandar Babić.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f1be843773.js" crossorigin="anonymous"></script>  
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>